<h1>Destination: <%= @flight.destination %></h1>

<p> Route Number: <%= @flight.route_number %></p>
<p> Departure From: <%= @flight.departure%></p>
<p> Price: <%= @flight.price%></p>

<script src="https://core.spreedly.com/iframe/express-2.min.js"></script>

<script>
SpreedlyExpress.init("FqufO3eWO8igbhVEn6BpIXcSpzT", {
  "amount": "$<%= @flight.price %>",
  "company_name": "Spreedly"
});

SpreedlyExpress.onPaymentMethod(function(token, paymentMethod) {

  // Send requisite payment method info to backend
  var tokenField = document.getElementById("payment_method_token");

  tokenField.setAttribute("value", token);

  var masterForm = document.getElementById('payment-form');
  masterForm.submit();
});
</script>
 
 
 <%= form_with id:"payment-form", url:"/checkout", method: :post do |form| %>
<!--<form  action="/checkout" method="POST"> change redirect later-->
  <input type="hidden" name="payment_method_token" id="payment_method_token">
  <input type="button" value="Enter Payment Info" onclick="SpreedlyExpress.openView();">
  <!--<input type="hidden" name="payment_type" id="Spreedly" value="Spreedly"> 
  <label for="retain_payment">
    <input id="retain_payment" type="checkbox" name="retain_payment">
    Save payment details?</label>
  <label for="expedia_payment">
    <input id="expedia_payment" type="checkbox" name="expedia_payment">
    Would you like to check out with Expedia?</label> -->
<%end%>


